@using Birthdays.Models
@model List<People>

<h2>All Birthdays</h2>

<table class="sortable">
    <tr>
        <th width="276px">Photo</th>
        <th width="172px">
            <a href="@Url.Action("Index", new { nameSortOrder = ViewBag.NameSortParam})">
                Name @if (ViewBag.NameSortParam == "asc")
                {
                    <span>&#8593;</span>
                }
                else
                {
                    <span>&#8595;</span>
                }
            </a>
        </th>
        <th width="300px">
            <a href="@Url.Action("Index", new { dobSortOrder = ViewBag.DobSortParam})">
                Date of Birth @if (ViewBag.DobSortParam == "asc")
                {
                    <span>&#8593;</span>
                }
                else
                {
                    <span>&#8595;</span>
                }
            </a>
        </th>
        <th width="288px"></th>
    </tr>
    @foreach (var birthday in Model)
    {
        <tr>
            <td>
                @if (birthday.Photo != null && birthday.Photo.Length > 0)
                {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(birthday.Photo)" alt="@birthday.Photo" width="100" height="100" />
                }
                else
                {
                    <span>No photo</span>
                }
            </td>
            <td>@birthday.Name</td>
            <td>@birthday.DateOfBirth.ToShortDateString()</td>
            <td>
                <a href="@Url.Action("Edit", new { id = birthday.Id })">Edit</a>|
                <a href="@Url.Action("Delete", new { id = birthday.Id })">Delete</a>
            </td>
        </tr>
    }
</table>