@using Birthdays.Models
@model TodayAndUpcomingViewModel

<h2>Today's Birthdays</h2>

<table>
    <thead>
        <tr>
            <th width="276px">Photo</th>
            <th width="172px">Name</th>
            <th width="300px">Date of Birth</th>
            <th width="288px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.TodayList)
        {
            <tr>
                <td>
                    @if (person.Photo != null && person.Photo.Length > 0)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(person.Photo)" alt="@person.Photo" width="100" height="100" />
                    }
                    else
                    {
                        <span>No photo</span>
                    }
                </td>
                <td>@person.Name</td>
                <td>@person.DateOfBirth.ToShortDateString()</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = person.Id })">Edit</a>|
                    <a href="@Url.Action("Delete", new { id = person.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />
<h2>Upcoming Birthdays</h2>

<table>
    <thead>
        <tr>
            <th width="276px">Photo</th>
            <th width="172px">Name</th>
            <th width="300px">Date of Birth</th>
            <th width="288px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.UpcomingList)
        {
            <tr>
                <td>
                    @if (person.Photo != null && person.Photo.Length > 0)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(person.Photo)" alt="@person.Photo" width="100" height="100" />
                    }
                    else
                    {
                        <span>No photo</span>
                    }
                </td>
                <td>@person.Name</td>
                <td>@person.DateOfBirth.ToShortDateString()</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = person.Id })">Edit</a>|
                    <a href="@Url.Action("Delete", new { id = person.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>